@import '../mixins';

.chart {
    position: relative;
    width: 1675px;
    height: calc(100% - 46px);
    padding-top: 47px;
    border-left: 1px solid #E9ECEF;
    background-color: #f6f7f9;

    @include mobile {
        width: 1584px;
        height: 100%;
        padding-top: 0;
        border-left: none;
    }

    &__lines {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        width: 100%;
        height: 100%;
        padding: 0 45px;
        pointer-events: none;

        @include mobile {
            padding: 0;
        }
    }

    &__lines-item {
        position: relative;
        z-index: 2;
        width: 66px;
        border-right: 1px solid rgba(19, 100, 205, 0.1);

        &:first-child {
            border-left: 1px solid rgba(19, 100, 205, 0.1);
        }

        &:last-child {

            @include mobile {
                display: none;
            }
        }
    }

    &__item-time {
        position: relative;
        top: -33px;
        left: 0;
        width: 0px;
        height: calc(100% + 33px);
        border-right: 1px solid #007DFF;

        @include mobile {
            top: -26px;
            height: calc(100% + 26px);
        }
    }

    &__item-current {
        position: absolute;
        top: 0;
        left: -24px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 20px;
        font-weight: 500;
        font-size: 11px;
        line-height: 16px;
        color: #fff;
        border-radius: 100px;
        background-color: #007DFF;
    }

    &__row {
        display: flex;
        width: 100%;
        height: 28px;
        margin-bottom: 24px;
        padding: 0 45px;

        @include mobile {
            height: 60px;
            margin-bottom: 0;
            padding: 0;
            border-bottom: 2px solid #f7f8f9;

            &:first-child {
                height: 96px;
                padding-top: 36px;
            }
        }

        &:last-child {
            margin-bottom: 52px;

            @include mobile {
                margin-bottom: 0;
                border-bottom: none;
            }
        }
    }
}
