.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    padding: 0 16px;
    font-weight: 500;
    font-size: 13px;
    text-decoration: none;
    color: #000;
    border-radius: 4px;
    border: none;
    background-color: #E9ECEF;

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
        color: #000;
        outline: none;
    }

    &:hover {
        background-color: #f2f3f4;
    }

    &:focus,
    &:active {
        background-color: #dcdfe3;
    }

    &--blue {
        color: #fff;
        background-color: #007DFF;

        &:hover {
            color: #fff;
            background-color: #0059FF;
        }

        &:focus,
        &:active {
            color: #fff;
            background-color: #3C33FF;
        }
    }

    &--icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        padding: 0;
        border-radius: 100%;
        background-color: #E9ECEF;
        cursor: pointer;

        &:hover,
        &:focus,
        &:active {

            .icon-fill {
                fill: #000;
            }

            .icon-stroke {
                stroke: #000;
            }
        }
    }

    &--disabled {
        color: #ccc;
        background-color: #E9ECEF;
        cursor: not-allowed;

        &:hover,
        &:focus,
        &:active {
            color: #ccc;
            background-color: #E9ECEF;
        }
    }
}
