@import '../mixins';

.cell {
    position: relative;
    width: 66px;
    height: 100%;
    background-color: #D5DFE9;
    cursor: pointer;

    &:hover {
        background-color: #98A9B9;
    }

    &:focus,
    &:active {
        background-color: #8594a2;
    }

    &--free {
        background-color: #fff;

        &:hover {
            background-color: #1D54FE
        }

        &:focus,
        &:active {
            background-color: #1D00FE;
        }

        &::after {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%);
            display: block;
            content: '';
            width: 12px;
            height: 2px;
            background-color: #fff;

            @include mobile {
                display: none;
            }
        }

        &::before {
            position: absolute;
            top: 33%;
            left: 50%;
            transform: translate(-50%);
            display: block;
            content: '';
            width: 2px;
            height: 12px;
            background-color: #fff;

            @include mobile {
                display: none;
            }
        }
    }

    &--disabled {
        pointer-events: none;

        &::before {
            display: none;
        }

        &::after {
            display: none;
        }
    }

    &--active {
        z-index: 3;
        background-color: #99A9B9;

        @include mobile {
            z-index: auto;
        }

        &:focus,
        &:active {
            background-color: #99A9B9;
        }
    }

    &--border {
        border-right: 1px solid #98A9B9;
    }

    &__modal {
        position: absolute;
        z-index: 3;
        top: 28px;
        left: 50%;
        transform: translateX(-50%);
        width: 338px;
        padding: 14px 16px 16px;
        font-size: 13px;
        line-height: 17px;
        border-radius: 8px;
        background-color: #fff;
        box-shadow: 0 1px 16px 0 rgba(0, 44, 92, 0.28);
        cursor: default;

        @include mobile {
            width: 320px;
            padding-top: 17px;
            font-size: 15px;
        }

        &--left {
            left: 140px;
        }

        &--right {
            left: auto;
            right: -185px;
        }
    }

    &__modal-triangle {
        position: absolute;
        z-index: 4;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 9px 10px 9px;
        border-color: transparent transparent #fff transparent;

        @include mobile {
            bottom: 28px;
        }
    }

    &__modal-icon {
        position: absolute;
        top: 14px;
        right: 14px;
        cursor: pointer;

        @include mobile {
            top: 19px;
            right: 15px;
        }
    }

    &__modal-title {
        margin-bottom: 3px;
        padding-right: 35px;
        font-weight: bold;
        font-size: 15px;
        line-height: 24px;

        @include mobile {
            margin-bottom: 8px;
            font-size: 20px;
        }
    }

    &__modal-separator {
        margin: 0 3px;
    }

    &__modal-info {
        display: flex;
        align-items: center;
        margin-top: 14px;
    }

    &__modal-img {
        display: block;
        width: 24px;
        height: 24px;
        margin-right: 8px;
        border-radius: 100%;

        @include mobile {
            width: 32px;
            height: 32px;
        }

        &--empty {
            background: url('user.svg') no-repeat center;
            background-size: cover;
        }
    }

    &__modal-members {
        margin-left: 4px;
        color: #858E98;
    }
}
