@import '../normalize';
@import '../mixins';

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

.wrapper {
    position: relative;
    display: flex;
    height: auto;
    min-height: calc(100% - 70px);

    @include mobile {
        min-height: 100%;
        padding-top: 135px;
        overflow: auto;
    }
}

.left-col {
    flex-shrink: 0;
    width: 245px;

    @include mobile {
        width: 181px;
    }
}

.right-col {
    width: 100%;
    overflow-y: hidden;

    @include mobile {
        overflow: initial;
    }
}
